<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ayit.friend.mapper.OauthUserMapper">

    <resultMap id="BaseResultMap" type="com.ayit.friend.pojo.OauthUser">
            <result property="source" column="source" jdbcType="VARCHAR"/>
            <result property="uuid" column="uuid" jdbcType="VARCHAR"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        source,uuid,user_id
    </sql>
</mapper>
